.create-container{ 
    width: 300px; 
    margin: 0 auto; 
    font-family: 'Roboto', sans-serif; 
    background-color: #FFE2E2; 
    padding: 20px; 
    display: block; 
    text-align: center; 
    border-radius: 25px;
}


#length{ 
    width: 75%; 
    padding: 10px; 
}

#create{ 
    padding: 10px;  
    background-color: #FFBBBB;
    border-radius: 50px; 
    border: none; 
}

p{ 
    font-family: 'Roboto', sans-serif;
    text-align: center; 
}

#result-container{ 
    width: 300px; 
    margin: 10px auto; 

    font-family: 'Roboto', sans-serif; 
    background-color: #FFE2E2; 
    padding: 20px; 
    display: block; 
    text-align: center; 
    border-radius: 25px;

    color: black; 

    word-break: break-all; 
}